In [1]:
import numpy as np
import pandas as pd

In [2]:
df_movies = pd.read_csv('movies.dat',sep='::',engine='python', header=None)
df_movies.columns = ['id','name','genre']
df_movies.head()

   id                                name                         genre
0   1                    Toy Story (1995)   Animation|Children's|Comedy
1   2                      Jumanji (1995)  Adventure|Children's|Fantasy
2   3             Grumpier Old Men (1995)                Comedy|Romance
3   4            Waiting to Exhale (1995)                  Comedy|Drama
4   5  Father of the Bride Part II (1995)                        Comedy

In [4]:
df_movies.loc[df_movies['name'].str.contains('Star Wars')]

,id,name,genre
257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
2559,2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Fantasy|Sci-Fi

In [5]:
df_train = pd.read_csv('train.csv')

In [6]:
df_train.head()

   user  item  rating
0     1  3186     0.8
1     1  1270     1.0
2     1  1721     0.8
3     1  1022     1.0
4     1  2340     0.6

In [9]:
n_users=df_train['user'].max()
n_items = df_train['item'].max()

In [10]:
ratings = np.zeros((n_users+1,n_items+1))
ratings[df_train['user'],df_train['item']]=df_train['rating']

In [13]:
ratings[:,260][ratings[:,260]!=0].mean()

0.89118406492069346

In [26]:
mean_ru=ratings.sum(axis=1)

In [24]:
count_ru=np.count_nonzero(ratings,axis=1)

In [25]:
count_ru[count_ru==0]=1

In [27]:
mean_ru=mean_ru/count_ru

In [28]:
mean_ru

array([ 0.        ,  0.83809524,  0.77475728, ...,  0.7875    ,
        0.75306122,  0.69705882])

In [30]:
np.count_nonzero(ratings[:,260]*ratings[:,1196])

2039

In [33]:
i, j = 260, 1196
U_ij = np.nonzero(ratings[:,i]*ratings[:,j])[0]

In [35]:
top = np.sum((ratings[U_ij,i] - mean_ru[U_ij])*(ratings[U_ij,j] - mean_ru[U_ij]))

In [36]:
bottom = np.sqrt(np.sum((ratings[U_ij,i] - mean_ru[U_ij])**2)*np.sum((ratings[U_ij,j] - mean_ru[U_ij])**2))

In [37]:
top/bottom

0.80787019060654941

In [38]:
R = ratings - (ratings != 0)*mean_ru[:,np.newaxis]

In [39]:
ftop = np.dot(R.T,R)

In [44]:
fbottom = np.dot(R.T**2,R != 0)
fbottom = np.sqrt(fbottom*fbottom.T)
fbottom[fbottom == 0]=1.0
sim = ftop/fbottom